.navbar img{
    width: 40px;
}
.nav-link{
    margin-right: 5px;
}
body{
    background-color: #F3F1FF;
}
.player img{
    width: 56px;
}
main{
    max-width: 870px;
}
.top-player{
    background-color: #FFFFFF;
}